# This file is used to determine domain owners see https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners for more information.

.github/workflows/ @brendannova