.badgeGreen {
    --slds-c-badge-color-background:  #2e8540;
    --slds-c-badge-text-color: white;
    --slds-c-badge-icon-color-foreground: white;
}

.badgeAmber {
    --slds-c-badge-color-background: #f78d0c;
    --slds-c-badge-text-color: white;
    --slds-c-badge-icon-color-foreground: white;
}

.badgeRed {
    --slds-c-badge-color-background: #c23934;
    --slds-c-badge-text-color: white;
    --slds-c-badge-icon-color-foreground: white;
}

.badgeGrey {
    --slds-c-badge-color-background:  #f3f2f2;
    --slds-c-badge-text-color: black;
    --slds-c-badge-icon-color-foreground: black;
}

.badgePink {
    --slds-c-badge-color-background:  #FF1E7E;
    --slds-c-badge-text-color: white;
    --slds-c-badge-icon-color-foreground: white;
}

.badgeDiv{
    display:inline-block;
}